---
layout: with-sidebar
---



<div class="sub-nav">
    <a href="/"><i class="fa fa-long-arrow-left"></i> главная</a>
</div>

<div class="category-page-posts animated fadeIn ">
    {% for post in site.categories[page.category] %}
    <article class="post">
        <div class="post-preview col-xs-10  no-gutter">

        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {{ post.excerpt | truncatewords: 28 }}
        </div>

    </article>

    {% endfor %}
</div>
